<!doctype html>
<html lang="en">
    <%- include partials/header.ejs %>
    <body>
        <%- include partials/login-nav.ejs %>
        <div class="container">
            <form action="/auth/signup" method="post">
                <h2 class="text-center">Signup</h2>       
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="first name" required="required" name="first_name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="last name" name="last_name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" required="required" name="email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="required" name="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Signup</button>
                </div>       
            </form>
        </div>
        <%- include partials/scripts.ejs %>
    </body>
</html>